    <section class="footer"> 
      <footer class="mx-4">
        <div class="container pt-5 px-3">
          <div class="contact-form col-lg-8 mb-5 mx-auto">
            <h5 class="pb-3 mb-4 border-bottom text-light">Bize Ulaşın</h5>
            <form action="/contact" onsubmit="sendEmail()" method="POST" class="row">
              <div class="col-md-6 col-12 mb-3">
                <input
                  type="text"
                  class="form-control non-message-form"
                  id="fName"
                  name="fName"
                  placeholder="Adınız"
                  required/>
              </div>
              <div class="col-md-6 col-12 mb-3">
                <input
                  type="text"
                  class="form-control non-message-form"
                  id="lName"
                  name="lName"
                  placeholder="Soyadınız"
                  required
                />
              </div>
              <div class="col-12 mb-3">
                <input
                  type="email"
                  class="form-control non-message-form"
                  id="email"
                  name="email"
                  placeholder="E-posta Adresiniz"
                  required
                />
              </div>
              <div class="col-12 mb-3">
                <textarea
                  class="form-control pt-3"
                  id="message"
                  name="message"
                  rows="8"
                  placeholder="Mesajınız"
                  required
                ></textarea>
              </div>
              <div class="mt-3">
                <input type="submit" class="btn bg-light btn-lg" value="Gönder"/>
              </div>
            </form>
          </div>
          
          <aside
            class="d-flex justify-content-md-start justify-content-center align-items-center py-3 px-4 border-top pb-4"
          >
            <p class="mb-3 mb-md-0 "
              >&copy; <%= new Date().getFullYear() %> YTÜ DOGDOK</p
            >
          </aside>
 
        </div>
      </footer>
    </section>

    <script type="text/javascript">
      function sendEmail(){
        const emailParams = {
          userFirstName: document.getElementById("fName").value,
          userLastName: document.getElementById("lName").value,
          userEmail: document.getElementById("email").value,
          userMessage: document.getElementById("message").value
        }

        fetch("/contactFetch", {
          method: "POST",
          headers: {
            "content-type": "application/json"
          },
          body: JSON.stringify(emailParams)
        });
      }
    </script>
  </body>
</html>