<section class="page-title m-4">
  <div class="container px-3">
    <div
        class="title-content border-bottom border-secondary pb-4"
      >
        <h1 class="text-white mb-0"><i class="bi <%= titleClass %> me-3"></i><%= titleText %></h1>
      </div>
  </div>
</section>