<%- include("partials/header.ejs") %>   
<%- include("partials/page-title.ejs") %>

<!-- Section Body -->

<section class="biz-kimiz-body m-4">
  <div class="container px-3">

    <div class="row  text-center">
      <div class="col">
        <h2 class="h1 text-light">- Kısaca Biz -</h2>
      </div>
    </div>

    <div class="p-3 mb-5 text-center border-bottom border-secondary">
      <div class="col-lg-10">
        <p class="lead pt-4 pb-5 mb-0 text-start text-light"> 
          YTU DOGDOK, 2013 yılında Yıldız Teknik Üniversitesi bünyesinde kurulan, dijital oyun geliştirme ve dijital oyunculuk alanlarında faaliyet gösteren bir öğrenci kulübüdür. Kulübümüz, öğrencileri bir araya getirerek bilgi ve deneyim paylaşımı sağlamakta, etkinlikler düzenlemekte ve projeler geliştirmektedir. Amacımız, üyelerimizin yeteneklerini geliştirerek profesyonel dünyaya hazırlamak ve dijital oyun dünyasında kendilerini ifade etmelerine olanak sağlamak, bir diğer yandan keyifli etkinlikler sunmaktır.
        </p>
      </div>
      <div class="overflow-hidden" style="max-height: 30vh">
        <div class="container px-md-5 px-0 pt-3 pt-md-0">
          <img
            src="images/dogdok-group-photo.jpeg"
            class="img-fluid rounded-3 shadow-lg pb-5"
            alt="Example image"
            loading="lazy"
          />
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Kurul Üyeleri-->

<section id="yk">
  <div class="container p-5 pt-4 text-center">
    <div class="row mb-5">
      <div class="col mt-4">
        <h2 class="h1 text-light">- Yönetim Kurulu Üyeleri -</h2>
      </div>
    </div>
    <div class="row pb-md-5 pb-3">
      <!-- Member 1 -->
      <div class="col-lg-4 col-md-6 col-12 py-3 mb-4">
        <img
          src="images/portraits/kagan.jpg"
          alt=""
          class="rounded-circle"
          width="200"
        />

        <p class="h3 mt-4 text-light">Kağan Berk Dizdaroğlu</p>
        <p class="h4 text-primary">"Vipe"</p>
        <p class="h5 text-light">Kulüp Başkanı</p>
      </div>

      <!-- Member 2 -->
      <div class="col-lg-4 col-md-6 col-12 py-3 mb-4">
        <img
          src="images/portraits/ahmet.jpg"
          alt=""
          class="rounded-circle"
          width="200"
        />

        <p class="h3 mt-4 text-light">Ahmet Hamdi Zorlu</p>
        <p class="h4 text-primary">"MiniPantolon"</p>
        <p class="h5 text-light">Kulüp Başkan Yardımcısı</p>
      </div>

      <!-- Member 3 -->
      <div class="col-lg-4 col-md-6 col-12 py-3 mb-4">
        <img
          src="images/portraits/ceyhun.jpg"
          alt=""
          class="rounded-circle"
          width="200"
        />

        <p class="h3 mt-4 text-light">Ceyhun Taha Karabıyık</p>
        <p class="h4 text-primary">"cattlius"</p>
        <p class="h5 text-light">Kulüp Sekreteri</p>
      </div>

      <!-- Member 4 -->
      <div class="col-lg-4 col-md-6 col-12 py-3 mb-4">
        <img
          src="images/portraits/kata.png"
          alt=""
          class="rounded-circle"
          width="200"
        />

        <p class="h3 mt-4 text-light">Kemal Ata Türkoğlu</p>
        <p class="h4 text-primary">"Kata"</p>
        <p class="h5 text-light">Kulüp Saymanı</p>
      </div>

      <!-- Member 5 -->
      <div class="col-lg-4 col-md-6 col-12 py-3 mb-4">
        <img
          src="images/portraits/ali-eren.jpg"
          alt=""
          class="rounded-circle"
          width="200"
        />

        <p class="h3 mt-4 text-light">Ali Eren Arık</p>
        <p class="h4 text-primary">"Alren"</p>
        <p class="h5 text-light">Game Tester</p>
      </div>

      <!-- Member 6 -->
      <div class="col-lg-4 col-md-6 col-12 py-3 mb-4">
        <img
          src="images/portraits/simge.jpg"
          alt=""
          class="rounded-circle"
          width="200"
        />

        <p class="h3 mt-4 text-light">Simge Temel</p>
        <p class="h4 text-primary">"Kyuubi"</p>
        <p class="h5 text-light">Sosyal Medya Dep.</p>
      </div>

      <!-- Member 7 -->
      <div class="col-lg-4 col-md-6 col-12 py-3 mb-4">
        <img
          src="images/portraits/oguzhan.jpg"
          alt=""
          class="rounded-circle"
          width="200"
        />

        <p class="h3 mt-4 text-light">Oğuzhan Esgiyusufo</p>
        <p class="h4 text-primary">"EsgiJ"</p>
        <p class="h5 text-light">Sponsor Dep.</p>
      </div>

      <!-- Member 8 -->
      <div class="col-lg-4 col-md-6 col-12 py-3 mb-4">
        <img
          src="images/portraits/ataberk.jpg"
          alt=""
          class="rounded-circle"
          width="200"
        />

        <p class="h3 mt-4 text-light">Ataberk Akın</p>
        <p class="h4 text-primary">"SoyaMilk"</p>
        <p class="h5 text-light">Oyun Geliştirme Dep.</p>
      </div>

      <!-- Member 9 -->
      <div class="col-lg-4 col-md-6 col-12 py-3 mb-4">
        <img
          src="images/portraits/nima.jpg"
          alt=""
          class="rounded-circle"
          width="200"
        />

        <p class="h3 mt-4 text-light">Nima Peykarimeh</p>
        <p class="h4 text-primary">"Peykarimeh"</p>
        <p class="h5 text-light">Eğitim Koordinatörü</p>
      </div>
    </div>
    <div class="row mb-5 pt-5 pt-md-3">
      <div class="col">
        <h2 class="h1 text-light">- Denetim Kurulu Üyeleri -</h2>
      </div>
    </div>
    <div class="row pb-5">
      <!-- Member 1 -->
      <div class="col-lg-4 col-md-6 col-12 py-3 mb-4">
        <img
          src="images/portraits/ugur.jpg"
          alt=""
          class="rounded-circle"
          width="200"
        />

        <p class="h3 mt-4 text-light">Uğur Dikici</p>
        <p class="h4 text-primary">"Skater of Rivia"</p>
        <p class="h5 text-light">Denetim Kurulu Başkanı</p>
      </div>

      <!-- Member 2 -->
      <div class="col-lg-4 col-md-6 col-12 py-3 mb-4">
        <img
          src="images/portraits/necati.jpg"
          alt=""
          class="rounded-circle"
          width="200"
        />

        <p class="h3 mt-4 text-light">Furkan Necati Ürkmez</p>
        <p class="h4 text-primary">"KaBaBlaNKa"</p>
        <p class="h5 text-light">Denetim Kurulu Üyesi</p>
      </div>

      <!-- Member 3 -->
      <div class="col-lg-4 col-md-6 col-12 py-3 mb-4">
        <img
          src="images/portraits/lena.jpeg"
          alt=""
          class="rounded-circle"
          width="200"
        />

        <p class="h3 mt-4 text-light">Ömer Ensar Sakinan</p>
        <p class="h4 text-primary">"Le Roi Lena"</p>
        <p class="h5 text-light">Denetim Kurulu Üyesi</p>
      </div>
    </div>
  </div>
</section>

<%- include("partials/footer.ejs") %>