<%- include("partials/header.ejs") %>   
<%- include("partials/page-title.ejs") %>

<!-- Section Body -->

<section class="biz-kimiz-body mx-4 mb-5">
  <div class="container px-3">
    <h2 class="h1 text-light text-center mb-4">- Kısaca Biz -</h2> 
    <div class="text-center border-bottom border-secondary">
      <div class="col-lg-10 col-xl-8 mx-auto">
        <p class="lead py-3 mb-4 text-start text-light"> 
          YTU DOGDOK, 2013 yılında Yıldız Teknik Üniversitesi bünyesinde kurulan, dijital oyun geliştirme ve dijital oyunculuk alanlarında faaliyet gösteren bir öğrenci kulübüdür. Kulübümüz, öğrencileri bir araya getirerek bilgi ve deneyim paylaşımı sağlamakta, etkinlikler düzenlemekte ve projeler geliştirmektedir. Amacımız, üyelerimizin yeteneklerini geliştirerek profesyonel dünyaya hazırlamak ve dijital oyun dünyasında kendilerini ifade etmelerine olanak sağlamak, bir diğer yandan keyifli etkinlikler sunmaktır.
        </p>
      </div>
      <div class="overflow-hidden" style="max-height: 30vh">
        <div class="container px-sm-5 px-0 mt-2">
          <img
            src="images/dogdok-group-photo.jpeg"
            class="img-fluid rounded-3 shadow-lg pb-5"
            alt="Example image"
            loading="lazy"
          />
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Yönetim Kurulu Üyeleri -->

<section class="council mx-4 mb-5">
  <div class="container text-center">
    <h2 class="h1 text-light mb-4 pt-4 pb-3">- Yönetim Kurulu Üyeleri -</h2>
    <div class="row px-3">
      
      <% for(let i = 1; i <= 9; i++) { %>
        <div class="col-lg-4 col-md-6 col-12 py-3 mb-4">
          <img
            src="images/portraits/kagan.jpg"
            alt=""
            class="rounded-circle"
            width="200"
          />

          <h3 class="mt-4 text-light council-member-name">Kağan Berk Dizdaroğlu</h3>
          <h4 class="text-primary council-member-nick">"Vipe"</h4>
          <h5 class="text-light council-member-status">Kulüp Başkanı</h5>
        </div>
      <% } %>
    </div>
  </div>
</section>

<!-- Denetim Kurulu Üyeleri -->

<section class="council mx-4 mb-5">
  <div class="container text-center">
    <h2 class="h1 text-light mb-4 pt-4 pb-3">- Denetim Kurulu Üyeleri -</h2> 
    <div class="row px-3">
      
      <% for(let i = 1; i <= 3; i++) { %>
        <div class="col-lg-4 col-md-6 col-12 py-3 mb-4">
          <img
            src="images/portraits/ugur.jpg"
            alt=""
            class="rounded-circle"
            width="200"
          />

          <h3 class="mt-4 text-light council-member-name">Uğur Dikici</h3>
          <h4 class="text-primary council-member-nick">"Skater of Rivia"</h4>
          <h5 class="text-light council-member-status">Denetim Kurulu Başkanı</h5>
        </div>
      <% } %>
    </div>
  </div>
</section>

<%- include("partials/footer.ejs") %>