<%- include("partials/header.ejs") %>   
<%- include("partials/page-title.ejs") %>

<!-- Section Body -->

<div class="container mx-auto px-sm-3 px-5 my-4">
  <div id="placeholder-jumbotron" class="my-5">
    <div class="p-5 text-center bg-light rounded-3">
      <p class="col-lg-8 mx-auto fs-5 text-muted mb-0">
        - Medium embedleri eklenecek -
      </p>
    </div>
  </div>
</div>

<%- include("partials/footer.ejs") %>
