<%- include("partials/header.ejs") %>  
<%- include("partials/page-title.ejs") %>

<section class="dijital-oyunculuk mb-5 mx-4">
  <div class="container px-3 pb-md-4">
    <!--  -->

    <div class="col-lg-8 mb-5 mx-auto pb-3">
      <div class="p-3 text-center bg-light" style="border-radius: 35px">
        <h2 class="mb-0 text-light">Dijital Oyunculuk</h2>
      </div>
    </div>

    <!--  -->

    <div class=" d-md-flex align-items-center mb-5">
      <div class="col-md-6 col-lg-4 pb-md-0 pb-5 pe-md-5 text-center">
        <img
          class="img-fluid"
          src="https://picsum.photos/400/400"
          alt=""
          style="border-radius: 50%"
        />
      </div>
      <div class="col-md-6 col-lg-8">
        <h2 class="display-5 text-light">GameNight</h2>
        <p class="lead text-light my-4">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </p>
        <button class="btn btn-light btn-lg">Git</button>
      </div>
    </div>

    <!--  -->

    <div class=" d-md-flex align-items-center">
      <div class="col-md-6 col-lg-4 pb-md-0 pb-5 pe-md-5 text-center">
        <img
          class="img-fluid"
          src="https://picsum.photos/400/400"
          alt=""
          style="border-radius: 50%"
        />
      </div>
      <div class="col-md-6 col-lg-8">
        <h2 class="display-5 text-light">Digital Gaming Days</h2>
        <p class="lead text-light my-4">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </p>
        <button class="btn btn-light btn-lg">Git</button>
      </div>
    </div>
  </div>
</section>

<!--  -->

<section class="oyun-gelistirme mb-5 mx-4">
  <div class="container px-3 pb-md-4">
    <!--  -->

    <div class="col-lg-8 mb-5 mx-auto py-3">
      <div class="p-3 text-center bg-light" style="border-radius: 35px">
        <h2 class="mb-0 text-light">Oyun Geliştirme</h2>
      </div>
    </div>

    <!--  -->

    <div class=" d-md-flex align-items-center mb-5">
      <div class="col-md-6 col-lg-4 pb-md-0 pb-5 pe-md-5 text-center">
        <img
          class="img-fluid"
          src="https://picsum.photos/400/400"
          alt=""
          style="border-radius: 50%"
        />
      </div>
      <div class="col-md-6 col-lg-8">
        <h2 class="display-5 text-light">DevNight</h2>
        <p class="lead text-light my-4">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </p>
        <button class="btn btn-light btn-lg">Git</button>
      </div>
    </div>

    <!--  -->

    <div class=" d-md-flex align-items-center">
      <div class="col-md-6 col-lg-4 pb-md-0 pb-5 pe-md-5 text-center">
        <img
          class="img-fluid"
          src="https://picsum.photos/400/400"
          alt=""
          style="border-radius: 50%"
        />
      </div>
      <div class="col-md-6 col-lg-8">
        <h2 class="display-5 text-light">Oyun Geliştirme Eğitimleri</h2>
        <p class="lead text-light my-4">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </p>
        <button class="btn btn-light btn-lg">Git</button>
      </div>
    </div>
  </div>
</section>

<!--  -->

<section class="e-spor mb-5 mx-4">
  <div class="container px-3 pb-md-4">
    <!--  -->

    <div class="col-lg-8 mb-5 mx-auto py-3">
      <div class="p-3 text-center bg-light" style="border-radius: 35px">
        <h2 class="mb-0 text-light">E-Spor</h2>
      </div>
    </div>

    <!--  -->

    <div class=" d-md-flex align-items-center">
      <div class="col-md-6 col-lg-4 pb-md-0 pb-5 pe-md-5 text-center">
        <img
          class="img-fluid"
          src="https://picsum.photos/400/400"
          alt=""
          style="border-radius: 50%"
        />
      </div>
      <div class="col-md-6 col-lg-8">
        <h2 class="display-5 text-light mb-3">Turnuvalar</h2>
        <p class="lead text-light mb-4">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </p>
        <button class="btn btn-light btn-lg">Git</button>
      </div>
    </div>
  </div>
</section>

<%- include("partials/footer.ejs") %>