<%- include("partials/header.ejs") %>
<%- include("partials/page-title.ejs") %>

<!-- Section Body -->


<section class="mb-5 mx-4">
  <div class="container px-3">
  <!-- <div id="placeholder-jumbotron" class="my-5" data-bs-theme="dark">
    <div class="p-5 text-center bg-light rounded-3">
      <p class="col-lg-8 mx-auto fs-5 text-muted mb-0">
        - itch.io embedleri eklenecek -
      </p>
    </div> -->
    <div class="mb-4 text-center">
      <iframe class="itch-io-embed col-lg-10 col-12" height="167" frameborder="0" src="https://itch.io/embed/2058051?dark=true"><a href="https://ataberk2.itch.io/ukde">Ukde by ataberk2</a></iframe>
    </div>

    <div class="mb-4 text-center">
      <iframe class="itch-io-embed col-lg-10 col-12" height="167" frameborder="0" src="https://itch.io/embed/2009683?dark=true"><a href="https://sefayunus.itch.io/dippy-deep">Dippy Deep by SefaYunus_, ceylantolunay</a></iframe>
    </div>

    <div class="mb-4 text-center">
      <iframe class="itch-io-embed col-lg-10 col-12" height="167" frameborder="0" src="https://itch.io/embed/1653755?dark=true"><a href="https://sin4-defy2rust.itch.io/ectoplasm-and-keys">Ectoplasm and Keys by sin4 &amp; defy2rust</a></iframe>
    </div>

    <div class="pb-4 text-center">
      <iframe class="itch-io-embed col-lg-10 col-12" height="167" frameborder="0" src="https://itch.io/embed/1931997?dark=true"><a href="https://mehmet918.itch.io/ruh">ruh by mehmet918</a></iframe>
    </div>
  </div>
</div>

</section>

<%- include("partials/footer.ejs") %>