/* Page titles */

.bi {
  font-size: 36px; 
  color: white;
}

.title-content{
  display: flex;
  align-items: center;
}

/* Landing Page */

.index-banner {
  height: 540px;
  box-shadow: inset 0 0 0 50vw rgba(0,0,0,0.5);
  background-position-x: center;
  background-size: cover;
  display: flex;
  align-items: end;
}

.card-img {
  object-fit: cover;
  object-position: 50% 0;
  filter: brightness(0.5);
}

.truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* number of lines to show */
          line-clamp: 2;
  -webkit-box-orient: vertical;
}

/* About Page */

.council-member-status {
  color: #63768D;
}

/* Archive Page */

.carousel-inner {
  background-color: #0f0f0f;
}

/* Buttons */

.button-custom {
  border-radius: 1.375rem;
  padding: 0.625rem 1.25rem;
  border: none;
  text-decoration: none;
}

.button-lg-custom {
  font-size: 1.25rem;
  border-radius: 1.82rem;
  padding: 0.875rem 1.75rem;
  border: none;
  text-decoration: none;
}

/* Background Colors */

.bg-purple-custom {
  background-image: linear-gradient(45deg, #5C0C69, #A014B5);
  color: #efefef;
}

.bg-gray-custom {
  background-image: linear-gradient(45deg, rgba(239, 239, 239, 0.1), rgba(239, 239, 239, 0.15));
  backdrop-filter: blur(10px);
  color: rgb(239, 239, 239);
}

/* Text Colors */

/* ! Needs to be fixed! */ 

#footer .btn-lg,
#placeholder-jumbotron > .bg-light,
.archives .bg-light,
.oyun-gelistirme .bg-light,
.dijital-oyunculuk .bg-light,
.e-spor .bg-light,
.card,
.card-body > .btn .ne-yapiyoruz-titles {
  --bs-bg-opacity: 0.1;
}

.biz-kimiz-body p,
#yk .h5,
#dk .h5,
#dijital-oyunculuk p,
#oyun-gelistirme p,
#e-spor p,
.carousel-item p,
.card-text, 
.council-member-nick {
  --bs-text-opacity: 0.6;
}

#yk .h1,
#yk .h3,
#footer h5,
#dijital-oyunculuk h2,
#oyun-gelistirme h2,
#e-spor h2,
.carousel-item h2,
.card-title {
  --bs-text-opacity: 0.9;
}