@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz@9..40&display=swap");

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "DM Sans", sans-serif;
  position: relative;
  background-color: #141414;
}

/* Header and Navbar related Styling */

.header {
  background-color: #0F0F0F;
  /* background-image: url("../images/pattern.svg");
  background-size: 400px; */
}

.dogdok-logo {
  height: 70px;
}

@media (max-width: 768px){
  .dogdok-logo {
    height: 56px;
  }
}

.navbar-toggler {
  padding: 0;
  border: none;
  transition: none;
}

.navbar-toggler:focus {
  box-shadow: none;
}

.nav-link:link, .nav-link:visited{
  color: #efefefd0;
}

.nav-link:hover{
  color: #efefef;
}

/* Footer and Contact Form Styling */

.footer {
  background-color: #0F0F0F;
  /* background-image: url("../images/pattern.svg");
  background-size: 400px; */
}

.non-message-form{
  height: 3em;
}

.form-control {
  background-color: #efefef30;
  color: #efefef;
  border: none;
}
.form-control::placeholder {
  color: white;
}

.form-control:focus {
  background-color: #efefef60;
  color: #efefef;
}
